<div class=" px-[11vw]">
    <div>
        <input type="text" name="" id="" class="w-[50vw] h-[12vh] border-2 border-green-700 rounded-lg px-6 text-green-700" [(ngModel)]="searchText"  >
        <button class="bg-green-700 w-[10vw] h-[12vh] text-white rounded-lg " [disabled]="!searchText"  [ngClass]="{'disabled:bg-gray-400 disabled:cursor-not-allowed': !searchText}">search</button>
    </div>
    <div class="min-h-[10vh]">
        <p class="" *ngIf="searchText">Search result for:<strong>{{searchText}} </strong> </p>
    </div>
</div>
